{% extends '@FrameworkAdmin/components/form.html.twig' %}

{% block box_header %}
    {% if entity is defined and entity.id is defined and entity.id > 0 %}
        <a href="{{ site_url }}/{{ entity.category.itemUrl }}/tutorials/{{ entity.articleUrl }}" target="_blank" class="btn btn-xs btn-primary"><i class="fa fa-eye"></i> View Article</a>
    {% endif %}
    {{ parent() }}
{% endblock %}
