{% extends '@FrameworkAdmin/layout.html.twig' %}

{% block section_title %}
    {{ ('title.set_background_for' | trans ~ ' <b>' ~ entity.title ~  '</b>') | raw }}
{% endblock %}

{% block box_header %}
    <a href="{{ path('adm_article_categories_edit', {id: entity.id}) }}" class="btn btn-xs btn-info"><i class="fa fa-list"></i> {{ 'btn.back_to_categories' | trans }}</a>
    <a href="#" data-id="{{ entity.id }}" class="btn btn-xs btn-danger remove-background"><i class="fa fa-list"></i> {{ 'btn.remove_background' | trans }}</a>
{% endblock %}

{% block body %}
    <div class="row" id="files-list">
        {% if attached is defined and attached | length > 0 %}
            {% for img in attached %}
                <div class="col-sm-2 col-md-2" id="row-{{ img.id }}">
                    <div id="thumb-{{ img.id }}" class="thumbnail{% if entity.backgroundImage.id is defined and entity.backgroundImage.id == img.id %} thumb-active{% endif %}" style="overflow: hidden;">
                        <img src="{{ thumb(img.directory, 200, 200, img.filename) }}" class="img-responsive" alt="{{ img.title }}" />
                        <div class="caption">
                            <p>{{ img.title }}</p>
                            <p class="img-buttons" id="img-buttons-{{ img.id }}" data-id-thumb="{{ img.id }}">
                                <a href="#" class="btn btn-info btn-xs set-background" data-image-id="{{ img.id }}" data-category-id="{{ entity.id }}" role="button">Set as background</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
