{% extends '@FrameworkAdmin/components/form.html.twig' %}

{% block box_header %}
    {% if entity is defined and entity.id is defined and entity.id > 0 %}
    <a href="{{ path('adm_article_categories_attached_set_background', {id: entity.id}) }}" class="btn btn-xs btn-info"><i class="fa fa-list"></i> {{ 'btn.set_background_image' | trans }}</a>
    {% endif %}
    {{ parent() }}
{% endblock %}
